input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

h2 {
    font-size: 25px;
}

label {
    font-size: 20px;
}

input {
    font-size: 20px;
    width: 90%;
}

select {
    font-size: 20px;
    width: 90%;
}

.hidden {
    display: none;
    visibility: hidden;
}

.main-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.small-button {
    background-color: #4CAF50;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.disabled {
    pointer-events: none;
}

.selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
}

.counter-number {
    font-size: 24px;
    margin: 0 10px;
    font-weight: bold;
}

.arrow-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.arrow-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-button-container {
    display: flex;
    flex-direction: column;
}